<section class="advantages section">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list_item">
                 <div class="advantages-list_icon_milk">
                    <svg class="icon-list" width="50" height="50">
                      <use></use>
                    </svg>
                  </div>
							<span class="advantages-title">721</span>
              <p class="advantages-title_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list_item">
                            <div class="advantages-list_icon_apples">
                                <svg class="icon-list" width="50" height="50"></svg>>
                                    <use></use>
                                </svg>
                            </div>
                            <span class="advantages-title">16kg</span>
                <p class="advantages-title_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list_item">
                            <div class="advantages-list_icon_heart">
                                <svg class="icon-list" width="50" height="50"></svg>>
                                    <use></use>
                                </svg>
                            </div>
                            <span class="advantages-title">84</span>
                <p class="advantages-title_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    
    
    </div>
    
</section>