.products {
  padding-top: 121px;
  padding-bottom: 98px;

  background-color: var(--secondary-bg-color);
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1268px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}
.products__label {
  margin-bottom: 15px;

  font-family: Titan One, cursive;
  font-size: 18px;
  line-height: (21 / 18);
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: (30 / 26);
    /* identical to box height */
  }
}

.products__title {
  margin-bottom: 144px;

  font-family: Titan One, cursive;
  font-size: 34px;
  line-height: (39 / 34);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
    font-family: Titan One;

    font-size: 48px;
    line-height: (55 / 48);
  }
}

.products__item {
  position: relative;
  height: 485px;
  border-radius: 24px;
  padding-top: 161px;
  padding-bottom: 41px;

  &:not(:last-child) {
    margin-bottom: 130px;
  }
}

.products__item--first {
  background-color: var(--primary-card-bg);
  &::before {
    @include pseudo();

    top: -50%;
    left: 50%;
    transform: translate(-50%, 52%);

    height: 252px;
    max-width: 249px;
    width: 100%;
    @include background-pos();
    background-image: url('../images/mobile/products/ice-cream-mob-min.png');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    &::before {
      background-image: url('../images/mobile/products/ice-cream-mob@2x-min.png');
    }
  }
}

.products__item--second {
  background-color: var(--secondary-card-bg);
  &::before {
    @include pseudo();

    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);

    height: 252px;
    max-width: 249px;
    width: 100%;
    @include background-pos();
    background-image: url('../images/mobile/products/ice-coffee-mob-min.png');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    &::before {
      background-image: url('../images/mobile/products/ice-coffee-mob@2x-min.png');
    }
  }
}

.products__item--third {
  background-color: var(--third-card-bg);
  &::before {
    @include pseudo();

    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);

    height: 252px;
    max-width: 249px;
    width: 100%;
    @include background-pos();
    background-image: url('../images/mobile/products/milkshakes-mob-min.png');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    &::before {
      background-image: url('../images/mobile/products/milkshakes-mob@2x-min.png');
    }
  }
}

.products__name {
  font-family: Titan One, cursive;

  font-size: 20px;
  line-height: (23 / 20);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--lite-text-color);

  margin-bottom: 30px;

  &::after {
    content: '';
    display: block;
    margin-top: 30px;
    // не срабатывает центрирование по-другому
    margin-left: auto;
    margin-right: auto;
    @include background-pos();
    background-image: url('../images/mobile/products/dots-mob.png');
    background-position: center;
    width: 26px;
    height: 6px;
  }
}

.products__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 200px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.52;
  /* or 21px */

  text-align: center;
  letter-spacing: 0.04em;
  color: var(--lite-text-color);
}
